<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.planto.esgpwc05backend2.dao.NotiDAO">

    <select id ="selectLatest" resultType="NotiVO">
        SELECT
            NOTI_NO AS notiNo,
            NOTI_FROM AS notiFrom,
            NOTI_SJ AS notiSj,
            JUMP_PARAM AS jumpParam,
            REG_DT AS regDt,
            REG_ID AS regId,
            UPDATE_DT AS updateDt
        FROM TB_NOTI
        ORDER BY REG_DT DESC
        LIMIT 20
    </select>
    <insert id="insertNoti" parameterType="com.planto.esgpwc05backend2.domain.NotiVO">
        INSERT INTO tb_noti (
            NOTI_NO,
            NOTI_FROM,
            NOTI_SJ,
            JUMP_PARAM,
            REG_DT,
            REG_ID,
            UPDATE_DT,
            UPDATE_ID
        ) VALUES (
            #{notiNo},
            #{notiFrom},
            #{notiSj},
            #{jumpParam},
            now(),
            #{regId},
            now(),
            #{regId}
        )
    </insert>
    <update id="updateNoti" parameterType="com.planto.esgpwc05backend2.domain.NotiVO">
        UPDATE tb_noti
        SET
            NOTI_FROM = #{notiFrom},
            NOTI_SJ = #{notiSj},
            JUMP_PARAM = #{jumpParam},
            UPDATE_DT = now(),
            UPDATE_ID = #{updateId}
        WHERE NOTI_NO = #{notiNo}
    </update>
</mapper>